@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


* {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #060606;
}

header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
}

button {
    padding: 7px 13px;
    background-color:rgba(225,143,0,1);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.7s ease 0s;
}


button:hover {
    background-color: black;
    background-color:rgba(225,143,0,0.8);
}


.cta {
    background-color: black;
}

/* logo */

.logo {
    background-color: black;
    width: 120px;
    height: 45px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* ----------------*/

.text_img {
    text-align: center;
    color: #edf0f1;
}


.image_gallery {
    display: flex;
    width: 500px;
    height: 500px;
}


